<a href="https://colab.research.google.com/github/adamrizkyyy/KKA-X-Semester-1/blob/main/1_Fungsi_print_Adam_DNR_X5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#1.   Menampilkan Teks Bebas

In [1]:
print("hello world")

hello world

In [2]:
print("Adam Dwi Nur Rizky")

Adam Dwi Nur Rizky

#2. Menampilkan Nilai Variable

In [3]:
beratbadan = 85
print(beratbadan)

85

In [4]:
tinggibadan = 173
print(tinggibadan)

173

In [5]:
Nama = "Adam Dwi Nur Rizky"
print(Nama)

Adam Dwi Nur Rizky

In [6]:
Namaidola = "Supermen"
print(Namaidola)

Supermen

#3. Menampilkan Teks Bebas dan Nilai Variabel

In [7]:
print("Halo nama saya", Nama,".Berat badan saya ",beratbadan, "Kg.")

Halo nama saya Adam Dwi Nur Rizky .Berat badan saya  85 Kg.

In [8]:
print("Halo nama saya "+ Nama+". Berat badan saya "+str(beratbadan)+" Kg")

Halo nama saya Adam Dwi Nur Rizky. Berat badan saya 85 Kg

In [9]:
print(f"Halo nama saya {Nama}. Berat badan saya {beratbadan} Kg")

Halo nama saya Adam Dwi Nur Rizky. Berat badan saya 85 Kg

#4. Escape Character

In [10]:
print("Nama: Adam Dwi Nur Rizky")
print("Kelas : X5")
print("No. Absen: 01")

Nama: Adam Dwi Nur Rizky
Kelas : X5
No. Absen: 01

In [11]:
print("Nama: Adam Dwi Nur Rizky\nKelas: X.5\nNo. Absen: 01")

Nama: Adam Dwi Nur Rizky
Kelas: X.5
No. Absen: 01

In [12]:
print("""Nama\t\t:Adam Dwi Nur Rizky
Kelas\t\t: X.5
No. Absen\t: 01""")

Nama		:Adam Dwi Nur Rizky
Kelas		: X.5
No. Absen	: 01

In [13]:
print('Nama saya Ja\'far Shodiq')

Nama saya Ja'far Shodiq

In [14]:
print("Nama saya Ja'far Shodiq")

Nama saya Ja'far Shodiq

In [15]:
print("Nama saya Ja'far Shodiq")

Nama saya Ja'far Shodiq

In [16]:
print('Bu shinta berkata,"Tolong perhatikan TV dan saya"')

Bu shinta berkata,"Tolong perhatikan TV dan saya"

In [17]:
print("Bu shinta berkata,\"Tolong perhatikan TV dan saya\"")

Bu shinta berkata,"Tolong perhatikan TV dan saya"

In [18]:
print("Lokasi File tugas KKA adalah di Lokal disc C:\\KKA\\Tugas")

Lokasi File tugas KKA adalah di Lokal disc C:\KKA\Tugas

In [19]:
print("Bu Shinta berkata,\"Berikut adalah daftar piket harian kelas X.5\nyang disimpan di file D:\\MAN Demak\\Jadwal Piket.\"\n\nSenin\tSealasa\tRabu\nJielo\tHasbi\tNaufal\nAzam\tAida\tA'Inun")

Bu Shinta berkata,"Berikut adalah daftar piket harian kelas X.5
yang disimpan di file D:\MAN Demak\Jadwal Piket."

Senin	Sealasa	Rabu
Jielo	Hasbi	Naufal
Azam	Aida	A'Inun

# 5. Parameter Fungsi Print

In [20]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"

print(nama_siswa_1, end="-")
print(nama_siswa_2, end="-")
print(nama_siswa_3)

Jielo-Aida-Dani

In [21]:
nama_siswa_1 = "Jielo"
nama_siswa_2 = "Aida"
nama_siswa_3 = "Dani"
nama_siswa_4 = "Nurul"

print(nama_siswa_4, end="/")
print(nama_siswa_2, end="/")
print(nama_siswa_1, end="/")
print(nama_siswa_3)

Nurul/Aida/Jielo/Dani

In [22]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_8, nama_siswa_7, nama_siswa_5, nama_siswa_6, sep="-")

Naufal-Rendra-Hasbi-Habibi

In [23]:
nama_siswa_5 = "Hasbi"
nama_siswa_6 = "Habibi"
nama_siswa_7 = "Rendra"
nama_siswa_8 = "Naufal"

print(nama_siswa_5, nama_siswa_8, nama_siswa_7, nama_siswa_6, sep="*")
print(nama_siswa_7, nama_siswa_6, nama_siswa_5, nama_siswa_7, nama_siswa_7, sep="-")

Hasbi*Naufal*Rendra*Habibi
Rendra-Habibi-Hasbi-Rendra-Rendra